        .bash_history
        .bash_logout
        .bash_profile
        .bashrc
        .cache/
        .gitconfig
        .gtkrc-2.0
        .local/
        .shell.pre-oh-my-zsh
        .wget-hsts
        .zcompdump-DESKTOP-CMAKPS6-5.9
        .zcompdump-DESKTOP-CMAKPS6-5.9.zwc
        .zsh_history
